**/node_modules
**/.next
**/out
**/.git
**/.vercel
**/README.md
**/Dockerfile
**/docker-compose.yml
**/.gitignore
**/.env*.local
**/*.md
**/*.log
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/.idea
**/.vscode
**/*.tsbuildinfo
**/tsconfig.tsbuildinfo
**/.eslintrc.json
**/next-env.d.ts
**/next-sitemap.config.js
